@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Pacifico&display=swap');

/*************************
**                      **   
**     HTML ELEMENT     **
**                      **
*************************/

h1 {
  font-family: 'Bangers', cursive;
}

h2 {
  font-family: 'Pacifico', cursive;
}

header {
  max-width: 100%;
  border-bottom: 9px solid #DDD;
  background: url(palm-leaf.png);
  }

/*************************
**                      **   
**     Class Tags       **
**                      **
*************************/

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.alert {
  text-align: center;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: powderblue;
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #000;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg); /* IE */
  -webkit-transform: rotate(11deg); /* Opera, Chrome, Safari */
}

.clear {
  clear: both;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 15px;
}

.footer-blurb a, a:hover {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.img-fluid {
  border-radius: 100%;
  border: 3px solid powderblue;
  shape-outside: circle();
  float: left;
}

.jumbotron {
  background: powderblue;
  margin: auto;
  text-align: center;
}

.links {
  letter-spacing: 2px;
  padding-top: 26px;
  text-align: center;
}

.links a {
  color: black;
  font-size: 25px; 
  font-family: 'Amamtic SC', cursive;
  font-weight: bold;
}

.logo:hover {
  text-decoration: none;
}

.next-quote {
  color: #000;
  font-family: 'Amamtic SC', cursive;
  font-weight: 800;
  font-size: 20px;
}

.next-quote a:hover {
  text-decoration: none;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26px;
}


