@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Pacifico&display=swap');

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #d9b77c;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg); /* IE */
  -webkit-transform: rotate(11deg); /* Opera, Chrome, Safari */
}

.clear {
  clear: both;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 15px;
  color: #FFF;
}

.footer-blurb a {
  color: #000;
  font-weight: 600;
}

h1 {
  font-family: 'Bangers', cursive;
}

h2 {
  font-family: 'Pacifico', cursive;
}

hr {
  clear: both;
}

.links {
  letter-spacing: 2px;
  padding-top: 26px;
  text-align: center;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #222; 
  font-family: 'Amamtic SC', cursive;
  font-weight: bold;
}

.next-quote {
  color: #FFF;
  font-family: 'Amamtic SC', cursive;
  font-weight: 800;
  font-size: 20px;
}

.next-quote:hover {
  text-decoration: none;
  color: #DDD;
}

.row {
  border-top: 9px solid #d9b77c;
  max-width: 100%;
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  font-size: 23px;
  padding-top: 26px;
}


